.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
}


.sidebar-link{
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover{
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.sidebar-link img{
  
    height: 24px;  /* Altura */
    width: 24px;   /* Largura */
    
}

